<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statemachine -->
      <package
            uri="http://www.example.org/StateMachineModel"
            class="org.eclipse.gemoc.statemachine.model.UML.StatemachinePackage"
            genModel="model/statemachine.genmodel"/>
   </extension>

</plugin>
